.header {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: left;
    width: 1280px;
}
.header p {
    display: flex;
    width: 334px;
    height: 79px;
    justify-content: flex-end;
    flex-shrink: 0;
    font-size: 80px;
    margin: 40px 100px 0 100px;
}

.header p a {
    text-decoration: none;
    color: black;
}


.mod_text_1 {
    color: #4BCAFF;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    background-color: #35444F;
    color: white;
    width: 1280px;
    height: 69px;
    flex-shrink: 0;
    margin: 40px 100px 0 100px;
    justify-content: center;
    padding: 0;

}

.navigation li {
    padding: 24px 32px 18px 32px;
    flex-shrink: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    border-left: 1px solid white;
}

.navigation li a {
    text-decoration: none;
    color: white;
}

.nav_menu {
    border-right: 1px solid white;
}

.hover_1 {
    transition: background-color 0.3s ease;
}
.hover_1:hover {
    background-color: #222F3A;
}

.main {
    display: flex;
    margin: 50px 0 0 100px;
    border: 1px solid black;
    width: 345px;
    height: 400px
}
.aside_navigation {
    width: 345px;
}

.main ul li {
    display: flex;
    flex-direction: column;
    color: #485863;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    padding: 27px 0 26px 45px;
}

.hover_2 {
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.hover_2:hover {
    color: black;
    background-color: #DBDBDB;
}
.hover_3 {
    transition: transform 0.3s ease;
}

.hover_3:hover {
    transform: translateX(15px);
}

.aside_img {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 885px;
    height: 529px;
    inset: 278px 100px 453px 496px;
    flex-shrink: 0;
    border: 1px solid black;
}

.aside_text {
    display: flex;
    flex-direction: column;
    margin: 130px 100px 0 497px;
    width: 885px;
    height: 141px;
}

.aside_text p {
    flex-shrink: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #2C2C2C;
    line-height: 24px;
}

.text_1 {
    margin-top: 37px;
}

.text_2 {
    margin-top: 13px;
}

.footer_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 69px;
    flex-shrink: 0;
    font-family: 'Roboto', sans-serif;
    background: rgba(99, 105, 110, 0.48);
    margin: 150px 100px 30px 100px;

}

.footer_list ul {
    display: flex;
    color: #0C1927;
    font-size: 28px;
    line-height: 28px;
    list-style-type: none;
    padding: 20px 0 21px 40px;
}
.footer_list ul li {
    margin-right: 20px;
}

.footer_list p {
    color: #010101;
    font-size: 24px;
    line-height: 24px;
    padding-right: 40px;

}
.mod_text_2 {
    text-decoration: none;
}

.hover_4 {
    transition: color 0.3s ease, text_decoration 0.3s ease;
}

.hover_4:hover {
    color: #3181A6;
    text-decoration: underline;
}